

<h1>Help</h1>
<p>
  Esta aplicação web é o resultado da realização de um tutorial.
  <a href="http://www.railstutorial.org/#help">Link do Tutorial</a>.
  Para realizar este tutorial visite -->
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>

